<%- include("../partials/header", { title }) %>
<section class="glass-panel p-4 text-center">
  <h1 class="section-title">Error <%= status %></h1>
  <p><%= message %></p>
  <a class="btn btn-outline-light" href="/">Go back</a>
</section>
<%- include("../partials/footer") %>
